* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    font-family: 'Jersey 10' , sans-serif;
}

h1, h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Jersey 10' , sans-serif;
    color: #c6c6c6;
}

body {
    background-image: url('./imagem/background.png');
    background-size: 100%;
}

.container {
    padding: 0 auto;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgb(40, 31, 54, 0.5);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    display:flex;
    padding: 16px;
    transition: 0.5s ease, color 0.5s ease, 0.5s ease;
    color: whitesmoke;
}

nav a:hover {
    background-color: none;
    color: none;
    background-color: none;
    transform: scale(1.2)
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    padding: 0 auto;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    color: wheat;
    border-radius: 30px;
    letter-spacing: 4px;
}


.conteudo {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.conteudo h1 {
    font-family: 'Jersey 10' , sans-serif;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.servicos {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.box1 {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    border: 64px;
}

.box1 img {
    margin: 10px;
}

.box1 p {
    font-family: 'Jersey 10' , sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin: 20px 0;
}

.box2 {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    border: 64px;
}

.box2 p {
    font-family: 'Jersey 10' , sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin: 20px 0;
}

.box3 {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    border: 64px;
}

.box3 p {
    font-family: 'Jersey 10' , sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin: 20px 0;
}

.box4 {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    border: 64px;
}

.box4 p {
    font-family: 'Jersey 10' , sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin: 20px 0;
}

.box5 {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    border: 64px;
}

.box5 p {
    font-family: 'Jersey 10' , sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin: 20px 0;
}




.rodape { 
    flex-shrink: 0;
    margin-top: auto;
}

.texto-footer {
    background-color: #4F4F4F;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 100px;
    align-items: center;
    flex-wrap: wrap;
}